
#openid_url {
    background: url(/images/login-bg.gif) no-repeat #FFF 5px;
    padding-left: 25px;
}

.explanatory_text {
    font-size: 6pt;
}

#character_ability_scores {
    text-align: center;
    margin-bottom: 25px;
}

#character_defenses {
  margin-bottom: 25px;
}

#character_misc_attributes {
  margin-bottom: 15px;
}

#character_feats {
  width: 415px;
}

#character_feats .edit_links {
  width: 20%;
  text-align: right;
}

#character_notes {
  width: 415px;
}

#character_notes td {
  width: 80%;
}

#character_notes td.edit_links {
  width: 20%;
  text-align: right;
}

br.clearout {
  clear:both;
}

.wrappable {
  border: 1px solid black;
  margin: 5px;
  width: 200px;
  float: left;
}

#character_editable {
  border: 1px solid black;
  float: left;
}

#character_skills {
    text-align: center;
}

.interaction a {
  display: block;
}

#damage {
  background-color: #C44D58;
}

#heal {
  background-color: #81A7BE;
}

body {
	margin-left:auto;
	margin-right:auto;
	padding:0;
	margin-top:0;
	width:100%;
	background-color:#FFFFFF;
}
h1 {
	font-family:Arial, Helvetica, sans-serif;
	color:#C44D58;
	padding:3px;
	font-size:1.9em;
	font-weight:bold;
}
h2 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:22px;
}
h3 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	text-decoration:underline;
}
p {
	margin:0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:0.9em;
	padding:0;
}
a {
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	color:#000;
}
a:hover {
	color:#C44D58;
}
blockquote {
	font-family:"Times New Roman", Times, serif;
	font-style:italic;
	color:#C44D58;
	padding:3px;
	border:1px dashed #C44D58;
	margin-left:30px;
}
code {
	border:3px solid #C44D58;
	padding:5px;
	margin-left:30px;
}

div#wrap {
	padding:20px 0 0 0;
	margin:0 auto;
	width:900px;
}
div#header {
	width:100%;
	background-image:url(/images/header_bg.jpg);
	background-repeat:repeat-x;
	height:75px;
	padding:0;
	margin:0;
}
div#header h1 {
	color:#FFFFFF;
	font-size:2.6em;
	margin:0;
	padding:30px 0 0 15%;
}
div#header h2 {
	margin:-16px 0 10px 0;
	color:#FFFFFF;
	padding:0 0 0 15%;
}
div#nav {
	width:100%;
	background-image:url(/images/nav_bg.jpg);
	background-repeat:repeat-x;
	height:32px;
	padding:0;
	margin:0;
}
div#nav ul {
	margin:0 0 0 15%;
	padding:6px 0 0 0;
}
div#nav ul li {
	display:inline;
	padding:0 8px;
	float:left;
}
div#nav ul li a {
	color:#556270;
	text-decoration:none;
}
div#nav ul li a:hover {
	text-decoration:underline;
	color:#C44D58;
}
div#main {
	width:700px;
	float:right;
}
div#sidebar {
	width:180px;
	float:left;
}
div.area {
	background-color:#FFF;
	padding:5px;
}
div.side_header {
	background-color:#C44D58;
	height:26px;
	width:100%;
}
div.side_header h1 {
	color:#FFFFFF;
	font-size:1.0em;
	padding:3px;
	margin:0;
}
div.side_content {
	background-color:#EEE;
}

  div.side_content ul {
    list-style-type:none;
    padding:2px;
    font-size: 0.9em;
  }

  div.side_content label {
    width: 60px;
    display: block;
    font-weight: bold;
    padding-right: 2px;
    float: left;
    text-align: right;
  }

div.spacer { 
	height:15px;
}
div#sidebar ul {
	padding:10px 0 10px 10px;
	margin:0;
	list-style:none;
}
div#sidebar ul li a {
	font-family:Arial, Helvetica, sans-serif;
	letter-spacing:-1px;
	font-weight:bold;
	color:#556270;
	text-decoration:none;
}
div#sidebar ul li a:hover {
	color:#C44D58;
	text-decoration:underline;
}
div#main ul {
	padding:10px 0 10px 10px;
	margin:0 0 0 20px;
	list-style-type:disc;
}
div#main ul li {
	font-family:Arial, Helvetica, sans-serif;
	font-size:0.9em;
	text-decoration:none;
}
div#main ul li a:hover {
	text-decoration:underline;
}

div#footer {
	clear:both;
	width:100%;
	padding:10px 0;
}
div#footer p {
	text-align:center;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#999;
}
div#footer p a {
	color:#999;
}

/* Skill display stuff */

.skill_is_trained {
  color:#18CB1B;
}

td.skill_bonus {
  width: 45px;
}

td.skill_name {
  width: 105px;
}

td.skill_trained {
  width: 45px;
}

td.skill_misc_bonus {
  width: 105px;
}

td.skill_misc_bonus_description {
  width: 75px;
}

td.skill_submit {
  width: 35px;
}
/* ADDED BY JDUNPHY */

.flash-notice {
   color: green;
}

h4 {
  margin: 0px;
  padding: 0px;
}
